<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @student.first_name %>! You've been accepted.</h1>
    <p>Best, General Assembly Admissions</p>
  </body>
</html>