<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<div class="email-container">
	    <h1>Hey, <%= @employee.first_name %>. </h1>
	    <p> You have an interview to set up. </p>
	    <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/2/005/0a3/2df/1681553.png">
	</div>
  </body>
</html>