<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @employee.first_name %>. </h1>
    <p> You have an interview to set up. </p>
  </body>
</html>