<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @student.first_name %>, you sicken me. You can't come here.</h1>
    
  </body>
</html>