<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @employee.first_name %>. You have an interview to set up. Click this link for their application: </h1>
    <p>
      Email them.
    </p>
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/2/005/0a3/2df/1681553.png">
  </body>
</html>