<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @employee.first_name %>. You have an interview to set up. Click this link for their application: <%= @url %>. </h1>
    <p>
      Email them.
    </p>
   
  </body>
</html>