<div class="app-wrap">
	<h1>Editing Application</h1>

	<%= render 'edit_form' %>
  
	<div class="app-links">
		<div class="links">
			<%= link_to 'Show', @application %> |
			<%= link_to 'Back', applications_path %>
		</div>
	</div>
</div>

