
<div class="course-container">

	<h1>Course Edit</h1>

	<%= render 'form' %>
	<div class="edit-course-links">
  
		<%= link_to 'Show', @course %> |
		<%= link_to 'Back', courses_path %>
	</div>
</div>