

<h1>Listing Courses</h1>

<ul>
 <% @courses.each do |course| %>
  <li> <%= link_to course.name, course_path(course) %></li>
 <% end %>
<ul>


<% if @user.type == "Instructor" || @user.type == "Officer" %>
<%= link_to 'New Course', new_course_path %>
<% end %>



















