

<h1>Listing Courses</h1>

<ul>
 <% @courses.each do |course| %>
  <li> <%= link_to course.name, course_path(course) %></li>
 <% end %>
<ul>

<% if @current_user %>
  <% if @current_user.type == "Instructor" || @current_user.type == "Officer" %>
    <%= link_to 'New Course', new_course_path %>
  

  <% end %>
<% end %>



















