@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

.course-wrapper {
/*	background-color:#EDEDED;*/
	width: 100%;
	height: 100%;
}

.course-container {
	/*background-color: rgba(252,212,52,.8);*/
	background-color: rgba(10,10,10,.2);
	width: 70%;
	margin: 6em auto;
	border-radius: 2px;
	font-family: 'Slabo 27px', serif;
}

.course-container table {
	padding:10px;
	margin: auto;
}

.course-container h1 {
	text-align: center;
	padding-top: 15px;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	
}

.new-course-link {
	text-align: center;
	font-size: 20px;
	color: white;
	font-family: 'Slabo 27px', serif;
	height:40px;
	width:150px;
	background-color: #F5483D;
	margin: auto;
	position: relative;
	bottom:15px;
	border-radius: 3px;
}
.new-course-link a{
	position:relative;
	display: block;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Oswald', sans-serif;
}

.new-course-link:hover {
	background-color: #F1250C;
}

.new-course-post {
	text-align: center;
	padding-bottom: 20px;
	font-family: 'Slabo 27px', serif;

}

.new-course-link a {
	text-decoration: none;

}

.new-course-link.back {
	width: 80px;
	left: 0;
}

.new-course-link.edit{
	width: 80px;
	margin-bottom: 10px;
	font-size: 15px;

}

.new-course-link.app {
	width:120px;
	margin-bottom: 10px;

}

.new-course-link.app2 {
	font-size: 15px;
	width:120px;
	margin-bottom: 10px;

}


.courses-list {
	font-size: 22px;
	width:90%;
	height:100%;
	margin: 0 auto;
	
}

.courses-list li {
	padding: 10px;
}

.courses-list a{
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.courses-list a:hover {
	color: red;
}


.course-container li {
	font-size: 20px;
	padding: 15px;
}

.text-area {
	font-size: 15px;
	max-width: 400px;
	max-height: 75px;
	border: 3px solid #cccccc;
	border-radius: 10px;
	padding: 5px;
	font-family: 'Slabo 27px', serif;
	overflow: scroll;
	resize: none;
}

.text-field {
	padding-top: 20px;
	padding-bottom:10px;
	text-align: center;
	width: 50%;
	overflow: auto;
	margin: 0 auto;
}

.actions {
	text-align: center;
	padding-bottom: 10px;
}

.edit-course-links {
	text-align: center;
	padding-bottom: 10px;
}
