@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

.question-container {
	background-color: rgba(10,10,10,.2);
	width: 70%;
	margin: 6em auto;
	border-radius: 2px;
	font-family: 'Slabo 27px', serif;
}

.question-container button {
	position: relative;
	text-align: center;
	font-size: 20px;
	color: white;
	font-family: 'Oswald', sans-serif;
	height:40px;
	width:150px;
	background-color: #F5483D;
	margin: 0 auto;
	border: none;
	border-radius: 3px;
}

.question-container button:hover {
	background-color: #F1250C;
	cursor: pointer;
}

.question-container h1{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}

.question-container a {
	text-decoration: none;
}

.question-container a:hover{
	color:black;
}

.questions {
	text-align: center;
	
}

.question-text {
	width: 70%;
	margin: 0em auto;
	padding-top: 30px;
	padding-bottom: 15px;
}

.question-text textarea {
	font-size: 15px;
	height:100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	border: 3px solid #cccccc;
	border-radius: 10px;
	padding: 5px;
	font-family: 'Slabo 27px', serif;
	overflow: scroll;
	resize: none;
}

.question-text-edit {
	font-size: 15px;
	height:50%;
	width: 50%;
	max-width: 50%;
	max-height: 50%;
	border: 3px solid #cccccc;
	border-radius: 10px;
	padding: 5px;
	font-family: 'Slabo 27px', serif;
	overflow: scroll;
	resize: none;
}

.new-question-button {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

.new-question-button button {
	margin: 0 auto;
}

.question-content {
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
}

.answers {
	width:100%;
	margin: 0 auto;
}

.answer {
	padding: 5px;
	margin-left: 30px;
}

.question-head {
	font-weight: 700;
	font-size: 20px;
}


.countdown-clock {
	width:40%;
	position: relative;
	font-family: 'Oswald', sans-serif;
	margin-left: 20px;
	margin-bottom: -100px;
}

.countdown-clock button {
	text-align: center;
	font-size: 15px;
	color: white;
	font-family: 'Oswald', sans-serif;
	height:30px;
	width:100px;
	background-color: #F5483D;
	margin: 0 auto;
	border: none;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-decoration: none;
}


.countdown-clock button:hover {
	background-color: #F1250C;
	cursor: pointer;
}

#countdown, #countdown2 {
    color: #F5483D;
    margin: 0 auto;
    height:50px;
    width:50%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline;
}
