@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

.student-container h1{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.student-container a {
	text-decoration: none;
}

.student-container a:hover{
	color:black;
}

.user-container2 a {
	text-decoration: none;
}

.user-container2 a:hover{
	color:black;
}


.student-container {
	background-color: rgba(10,10,10,.2);
	width: 90%;
	margin: 6em auto;
	border-radius: 2px;
	font-family: 'Slabo 27px', serif;
}

.user-container2 {
	padding: 10px;
	background-color: rgba(10,10,10,.2);
	width: 40%;
	text-align: center;
	margin: 6em auto;
	border-radius: 2px;
	font-family: 'Slabo 27px', serif;
}

.user-container2 ul {
	text-align: center;
}

.user-container2 h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

.user-container3 {
	padding: 10px;
	background-color: rgba(10,10,10,.2);
	width: 80%;
	text-align: center;
	margin: 4em auto;
	border-radius: 2px;
	font-family: 'Slabo 27px', serif;
}

.employee-table {
	text-align: center;
	width: 100%;
}

.employee-table1 {
	width: 60%;
	margin: 0 auto;
	overflow: scroll;
}

.user-container3 h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}


.student-table {
	overflow: scroll;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

.New-Student-Button {
	text-align: center;
	font-size: 15px;
	color: white;
	font-family: 'Oswald', sans-serif;
	height:100px;
	width:150px;
	background-color: #F5483D;
	margin: 0 auto;
	position: relative;
	border: none;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-decoration: none;
}

.New-Student-Button a {
	text-decoration: none;
}

.New-Student-Button:hover {
	background-color: #F1250C;
	cursor: pointer;
}

.center-course{

	width:100%;
}
.center-course a {
	text-align: center;
}